# Copy this file to .env and fill in your values.
# NEVER commit .env to git. Add it to .gitignore.

# Django
DJANGO_SECRET_KEY=django-insecure-replace-this-with-50-random-chars
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DB_NAME=dukaanos
DB_USER=root
DB_PASSWORD=1922002
DB_HOST=localhost
DB_PORT=3306

# Email (Gmail SMTP)
EMAIL_HOST_USER=nickpate8687@gmail.com
EMAIL_HOST_PASSWORD=hdyc eoyz yadf fdbs

# SMS
#FAST2SMS_API_KEY=your_fast2sms_api_key_here
